<!DOCTYPE html>
{% load static %}
<html>

<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <title>Bootstrap Tree View</title>
    <link href="{% static 'bootstrap-treeview/bower_components/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
    <!-- <link href="./css/bootstrap-treeview.css" rel="stylesheet"> -->
</head>
<body>
<div class="container container-fluid body-content">
    <h1 class="text-center">Divisions</h1>
    <br>
    <div class="row ">
        <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <h2>Collapsed</h2>
            <div id="treeview2" class=center-block"></div>
        </div>

    </div>


    <code id="myjson" hidden>{{divs}}</code>

</div>
<script src="{% static 'bootstrap-treeview/bower_components/jquery/dist/jquery.js' %}"></script>
<script src="{% static 'bootstrap-treeview/js/bootstrap-treeview.js' %}"></script>
<script type="text/javascript">

    $(function () {
        var defaultData = JSON.parse(document.getElementById('myjson').innerText)

        $('#treeview2').treeview({
            levels: 1,
            data: defaultData,
            enableLinks: true,
            color: "rgb(19,19,19)",
            backColor: "#CFF4FC",
            onhoverColor: "#84bffa",
            borderColor: "rgba(74,181,197,0.96)",
            selectedBackColor: "rgba(74,181,197,0.96)",
        });

    });
</script>
</body>

</html>
